@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Bubblegum Sans", cursive;
  color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .icon-round-border {
    border-style: solid;
    border-width: 1px;
    border-color: #4a5568; /* This is the color for gray-700 in Tailwind */
    border-radius: 0.75rem; /* This is the radius for rounded-2xl in Tailwind */
  }
  /* .pencil-icon {
    @apply w-6 h-6 sm:w-11 sm:h-11;
  } */
}

/* @media (max-width: 250px) {
  .small-screen {
    max-height: calc(100vh - 25rem);
    max-width: calc(100vh - 25rem);
  }
} */

/* @media (min-width: 230px) {
  .big-screen {
    max-height: calc(100vh - 20rem);
    max-width: calc(100vh - 20rem);
  }
} */

.screen-height-grow {
  max-height: calc(100vh - 20rem);
  max-width: calc(100vh - 20rem);
}
