@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Bubblegum Sans", cursive;
  color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .icon-round-border {
    border-style: solid;
    border-width: 1px;
    border-color: #4a5568; /* This is the color for gray-700 in Tailwind */
    border-radius: 0.75rem; /* This is the radius for rounded-2xl in Tailwind */
  }
}
